* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0d0d0d;
  color: white;
  font-family: Arial;
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.container {
  width: 380px;
  background: #1a1a1a;
  border-radius: 10px;
  padding: 20px;
}

.chat-box {
  height: 400px;
  overflow-y: auto;
  padding: 10px;
  background: #111;
  border-radius: 10px;
  margin-bottom: 10px;
}

input {
  width: 70%;
  padding: 10px;
  border-radius: 5px;
  background: #222;
  color: white;
  border: none;
}

button {
  padding: 10px 15px;
  background: #444;
  color: white;
  border: none;
  border-radius: 5px;
  margin-left: 5px;
}
